html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{-webkit-appearance:none;appearance: none;box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body,div{font-size:0;}
p, span,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;-ms-word-wrap:break-word;pointer-events:auto;}
sup{font-size:inherit;vertical-align:baseline;position:relative;top:-0.4em;}
sub{font-size:inherit;vertical-align:baseline;position:relative;top:0.4em;}
ul{display:block;word-spacing:normal;word-wrap:break-word;list-style-type:none;margin:0;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li{display:block;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
textarea{resize:none;}
.shm-l{float:left;clear:left;}
.shm-r{float:right;clear:right;}
.whitespacefix{word-spacing:-1px;}
video:not(#video_background):not(.videoinline){width:100%;max-width:900px;}
video:-webkit-full-screen{max-width:100% !important;}
video:-moz-full-screen{max-width:100% !important;}
video:-ms-fullscreen{max-width:100% !important;}
video:fullscreen{max-width:100% !important;}
.player1.fullscreen1-active video{max-width:100% !important;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.menu-content {
	cursor: pointer;
	position: relative;
}

li {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
#body{background-color:rgb(255,255,255);}
.pos{position:relative;margin-top:8px;}
.vis{display:block;}
.section{pointer-events:none;min-width:960px;width:960px;margin-left:auto;margin-right:auto;}
.vis-2{display:inline-block;vertical-align:top;}
.pos-2{position:relative;margin-left:0;margin-top:0;}
.size{min-width:960px;width:960px;min-height:519px;}
.colwrapper{line-height:0;}
.vis-3{display:inline-block;vertical-align:top;overflow:visible;}
.size-2{min-width:959px;width:959px;min-height:28px;height:28px;}
.cont-2{z-index:100;pointer-events:auto;}
.vis-4{display:inline-block;vertical-align:top;}
.menu{padding:0px 0px 0px 0px;}
.menu-link{outline:0;}
.size-3{min-width:119px;width:119px;min-height:28px;height:28px;}
.menu-content-vis{display:inline-block;}
.size-4{min-width:119px;width:119px;min-height:28px;}
.cont-3{pointer-events:none;border:0;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;background-color:rgb(20,62,108);box-shadow:0 5px 6px rgba(0,0,0,0.4);}
.cont-4{pointer-events:auto;}
.para{padding-top:0;text-indent:0;padding-right:0;text-align:center;}
.font{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:18px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:20px;letter-spacing:normal;text-shadow:none;}
.pos-3{position:relative;margin-left:1px;margin-top:0;}
.vis-5{display:none;vertical-align:top;}
.size-5{min-width:163px;width:163px;min-height:88px;height:88px;}
.size-6{min-width:163px;width:163px;min-height:28px;height:28px;}
.size-7{min-width:163px;width:163px;min-height:28px;}
.cont-5{pointer-events:none;border:0;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;background-color:rgb(20,62,108);box-shadow:0 2px 4px rgb(128,128,128);}
.pos-4{position:relative;margin-left:0;margin-top:2px;}
.cont-6{pointer-events:none;border:0;background-color:rgb(221,237,247);}
.pos-5{position:relative;margin-left:0;margin-top:-9px;}
.size-8{min-width:960px;width:960px;min-height:63px;}
.cont-7{z-index:3;pointer-events:auto;}
.font-2{font-family:Cinzel;font-size:34px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(36,112,170);background-color:initial;line-height:64px;letter-spacing:normal;text-shadow:none;}
.pos-6{position:relative;margin-left:85px;margin-top:-8px;}
.size-9{min-width:791px;width:791px;min-height:445px;}
.cont-8{z-index:2;pointer-events:auto;}
.video{width:791px;height:445px;}
.size-10{min-width:960px;width:960px;min-height:320px;}
.size-11{min-width:960px;width:960px;min-height:45px;}
.cont-9{z-index:5;pointer-events:auto;}
.font-3{font-family:"EB Garamond";font-size:15px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(20,62,108);background-color:initial;line-height:27px;letter-spacing:normal;text-shadow:none;}
.pos-7{position:relative;margin-left:10px;margin-top:-3px;}
.size-12{min-width:940px;width:940px;min-height:278px;}
.cont-10{z-index:4;pointer-events:auto;}
.para-2{padding-top:0;text-indent:0;padding-right:0;text-align:justify;}
.font-4{font-family:Kameron;font-size:16px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(20,62,108);background-color:initial;line-height:33px;letter-spacing:normal;text-shadow:none;}
.font-5{font-family:Kameron;font-size:16px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(20,62,108);background-color:initial;line-height:31px;letter-spacing:normal;text-shadow:none;}
.menu-device{background-color:rgb(0,0,0);display:none;}
.vis-6{display:inline-block;vertical-align:top;}
.menu-2{padding:0px 0px 0px 0px;}
.menu-link-2{outline:0;}
.size-13{min-width:119px;width:119px;min-height:28px;height:28px;}
.menu-content-vis-2{display:inline-block;}
.size-14{min-width:119px;width:119px;min-height:28px;}
.cont-11{pointer-events:none;border:0;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;background-color:rgb(20,62,108);box-shadow:0 5px 6px rgba(0,0,0,0.4);}
.cont-12{pointer-events:auto;}
.para-3{padding-top:0;text-indent:0;padding-right:0;text-align:center;}
.font-6{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:18px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:20px;letter-spacing:normal;text-shadow:none;}
.pos-8{position:relative;margin-left:1px;margin-top:0;}
.vis-7{display:none;vertical-align:top;}
.size-15{min-width:163px;width:163px;min-height:88px;height:88px;}
.size-16{min-width:163px;width:163px;min-height:28px;height:28px;}
.size-17{min-width:163px;width:163px;min-height:28px;}
.cont-13{pointer-events:none;border:0;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;background-color:rgb(20,62,108);box-shadow:0 2px 4px rgb(128,128,128);}
.pos-9{position:relative;margin-left:0;margin-top:2px;}
.cont-14{pointer-events:none;border:0;background-color:rgb(221,237,247);}
.pos-10{position:relative;margin-top:37px;}
.size-18{width:100%;min-width:960px;min-height:150px;height:150px;}
.cont-15{z-index:2;pointer-events:none;border:0;background-color:rgb(20,62,108);}
.pos-11{position:relative;margin-top:-135px;}
.size-19{min-width:960px;width:960px;min-height:150px;}
.font-7{font-family:Cinzel;font-size:61px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:115px;letter-spacing:normal;text-shadow:none;}
.pos-12{position:relative;margin-left:18px;margin-top:0;}
.size-20{min-width:925px;width:925px;min-height:729px;}
.size-21{min-width:925px;width:925px;min-height:180px;}
.font-8{font-family:Kameron;font-size:17px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(20,62,108);background-color:initial;line-height:28px;letter-spacing:normal;text-shadow:none;}
.pos-13{position:relative;margin-left:6px;margin-top:-136px;}
.size-22{min-width:912px;width:912px;min-height:685px;height:685px;}
.img{position:absolute;left:0;width:912px;height:322px;top:182px;border:0;}
.img-2{left:0;width:912px;height:322px;top:182px;display:inline-block;}
.menu-device{background-color:rgb(0,0,0);display:none;}
.pos-14{position:relative;margin-top:42px;}
.size-23{width:100%;min-width:960px;min-height:153px;}
.cont-16{z-index:1;pointer-events:none;border:0;background-color:rgb(20,62,108);}
.pos-15{position:relative;margin-top:34px;}
.section-2{min-width:960px;width:960px;margin-left:auto;margin-right:auto;}
.pos-16{position:relative;margin-left:293px;margin-top:0;}
.size-24{min-width:347px;width:347px;min-height:85px;}
.font-9{font-family:Cinzel;font-size:61px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:82px;letter-spacing:normal;text-shadow:none;}
.pos-17{position:relative;margin-top:41px;}
.pos-18{position:relative;margin-left:86px;margin-top:0;}
.size-25{min-width:790px;width:790px;min-height:521px;}
.size-26{min-width:790px;width:790px;min-height:197px;}
.font-10{font-family:Kameron;font-size:18px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(20,62,108);background-color:initial;line-height:29px;letter-spacing:normal;text-shadow:none;}
.pos-19{position:relative;margin-left:58px;margin-top:-51px;}
.size-27{min-width:666px;width:666px;min-height:375px;}
.video-2{width:666px;height:375px;}
.menu-device{background-color:rgb(0,0,0);display:none;}
.pos-20{position:relative;margin-left:83px;margin-top:38px;}
.size-28{min-width:794px;width:794px;min-height:192px;}
.font-11{font-family:Cinzel;font-size:34px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:64px;letter-spacing:normal;text-shadow:none;}
.pos-21{position:relative;margin-top:-181px;}
.size-29{width:100%;min-width:960px;min-height:169px;height:169px;}
.pos-22{position:relative;margin-top:15px;}
.pos-23{position:relative;margin-left:150px;margin-top:0;}
.size-30{min-width:631px;width:631px;min-height:400px;}
.pos-24{position:relative;margin-left:0;margin-top:87px;}
.size-31{min-width:179px;width:179px;min-height:109px;-ms-transform:rotate(-60deg);-webkit-transform:rotate(-60deg);transform:rotate(-60deg);}
.para-4{padding-top:0;text-indent:0;padding-right:0;text-align:right;}
.font-12{font-family:"PT Sans";font-size:20px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:37px;letter-spacing:normal;text-shadow:none;}
.pos-25{position:relative;margin-left:31px;margin-top:-196px;}
.size-32{min-width:600px;width:600px;min-height:400px;}
.size-33{min-width:600px;width:600px;min-height:40px;}
.cont-17{z-index:7;pointer-events:auto;}
.font-13{font-family:"PT Sans";font-size:22px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(20,62,108);background-color:initial;line-height:40px;letter-spacing:normal;text-shadow:none;}
.pos-26{position:relative;margin-left:33px;margin-top:-10px;}
.size-34{min-width:559px;width:559px;min-height:370px;}
.size-35{min-width:536px;width:536px;min-height:370px;}
.video-3{width:536px;height:370px;}
.pos-27{position:relative;margin-left:380px;margin-top:-337px;}
.size-36{min-width:179px;width:179px;min-height:209px;-ms-transform:rotate(60deg);-webkit-transform:rotate(60deg);transform:rotate(60deg);}
.cont-18{z-index:8;pointer-events:auto;}
.para-5{padding-top:0;text-indent:0;padding-right:0;text-align:left;}
.pos-28{position:relative;margin-left:150px;margin-top:37px;}
.size-37{min-width:630px;width:630px;min-height:400px;}
.pos-29{position:relative;margin-left:0;margin-top:96px;}
.cont-19{z-index:11;pointer-events:auto;}
.pos-30{position:relative;margin-left:30px;margin-top:-205px;}
.cont-20{z-index:9;pointer-events:auto;}
.pos-31{position:relative;margin-left:34px;margin-top:-10px;}
.cont-21{z-index:6;pointer-events:auto;}
.pos-32{position:relative;margin-left:380px;margin-top:-329px;}
.cont-22{z-index:10;pointer-events:auto;}
.menu-device{background-color:rgb(0,0,0);display:none;}
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes fadeInUp{from{opacity:0;-webkit-transform:translate3d(0,100%,0)}to{opacity:1;-webkit-transform:none}}@keyframes fadeInUp{from{opacity:0;transform:translate3d(0,100%,0)}to{opacity:1;transform:none}}.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}
.pos-33{position:relative;margin-left:229px;margin-top:35px;}
.size-38{min-width:503px;width:503px;min-height:63px;}
.font-14{font-family:Cinzel;font-size:35px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(20,62,108);background-color:initial;line-height:66px;letter-spacing:normal;text-shadow:none;}
.pos-34{position:relative;margin-left:10px;margin-top:35px;}
.size-39{min-width:935px;width:935px;min-height:331px;}
.size-40{min-width:250px;width:250px;min-height:331px;height:331px;}
.img-3{position:absolute;left:1px;width:248px;height:331px;top:0;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;box-shadow:6px 6px 5px rgba(0,0,0,0.4);border:0;}
.img-4{left:1px;width:248px;height:331px;top:0;display:inline-block;}
.pos-35{position:relative;margin-left:34px;margin-top:2px;}
.size-41{min-width:651px;width:651px;min-height:329px;}
.font-15{font-family:Kameron;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(20,62,108);background-color:initial;line-height:25px;letter-spacing:normal;text-shadow:none;}
.font-16{font-family:Kameron;font-size:15px;font-weight:400;font-style:normal;text-decoration:underline;text-transform:none;color:rgb(20,62,108);background-color:initial;line-height:25px;letter-spacing:normal;text-shadow:none;}
.menu-device{background-color:rgb(0,0,0);display:none;}
.pos-36{position:relative;margin-left:0;margin-top:17px;}
.size-42{min-width:960px;width:960px;min-height:309px;}
.size-43{min-width:960px;width:960px;min-height:277px;height:277px;}
.img-5{position:absolute;left:0;width:960px;height:233px;top:22px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;border:0;}
.img-6{left:0;width:960px;height:233px;top:22px;display:inline-block;}
.pos-37{position:relative;margin-left:229px;margin-top:-31px;}
.pos-38{position:relative;margin-left:49px;margin-top:0;}
.size-44{min-width:868px;width:868px;min-height:230px;}
.pos-39{position:relative;margin-left:0;margin-top:10px;}
.size-45{min-width:220px;width:220px;min-height:220px;height:220px;}
.img-7{position:absolute;left:0;width:220px;height:220px;top:0;-webkit-border-radius:110px;-moz-border-radius:110px;border-radius:110px;border:0;}
.img-8{left:0;width:220px;height:220px;top:0;display:inline-block;}
.pos-40{position:relative;margin-left:101px;margin-top:10px;}
.pos-41{position:relative;margin-left:107px;margin-top:0;}
.pos-42{position:relative;margin-left:50px;margin-top:2px;}
.size-46{min-width:860px;width:860px;min-height:78px;}
.size-47{min-width:219px;width:219px;min-height:68px;}
.size-48{min-width:219px;width:219px;min-height:34px;}
.cont-23{z-index:12;pointer-events:auto;}
.font-17{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:20px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(20,62,108);background-color:initial;line-height:28px;letter-spacing:normal;text-shadow:none;}
.size-49{min-width:218px;width:218px;min-height:34px;}
.cont-24{z-index:13;pointer-events:auto;}
.font-18{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(20,62,108);background-color:initial;line-height:20px;letter-spacing:normal;text-shadow:none;}
.pos-43{position:relative;margin-left:99px;margin-top:10px;}
.size-50{min-width:220px;width:220px;min-height:68px;}
.size-51{min-width:220px;width:220px;min-height:34px;}
.pos-44{position:relative;margin-left:102px;margin-top:0;}
.size-52{min-width:220px;width:220px;min-height:74px;}
.size-53{min-width:220px;width:220px;min-height:40px;}
.pos-45{position:relative;margin-left:180px;margin-top:38px;}
.size-54{min-width:637px;width:637px;min-height:245px;}
.pos-46{position:relative;margin-left:0;margin-top:25px;}
.pos-47{position:relative;margin-left:90px;margin-top:0;}
.size-55{min-width:327px;width:327px;min-height:245px;height:245px;}
.img-9{position:absolute;left:41px;width:246px;height:245px;top:0;-webkit-border-radius:123px;-moz-border-radius:123px;border-radius:123px;border:0;}
.img-10{left:41px;width:246px;height:245px;top:0;display:inline-block;}
.pos-48{position:relative;margin-left:180px;margin-top:16px;}
.size-56{min-width:590px;width:590px;min-height:34px;}
.font-19{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:20px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(20,62,108);background-color:rgb(255,255,255);line-height:28px;letter-spacing:normal;text-shadow:none;}
.pos-49{position:relative;margin-left:180px;margin-top:0;}
.font-20{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(20,62,108);background-color:rgb(255,255,255);line-height:20px;letter-spacing:normal;text-shadow:none;}
.menu-device{background-color:rgb(0,0,0);display:none;}
.pos-50{position:relative;margin-left:268px;margin-top:35px;}
.size-57{min-width:420px;width:420px;min-height:63px;}
.pos-51{position:relative;margin-left:70px;margin-top:8px;}
.size-58{min-width:820px;width:820px;min-height:1255px;}
.font-21{font-family:Kameron;font-size:20px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(20,62,108);background-color:initial;line-height:33px;letter-spacing:normal;text-shadow:none;}
.font-22{font-family:Kameron;font-size:20px;font-weight:400;font-style:normal;text-decoration:underline;text-transform:none;color:rgb(20,62,108);background-color:initial;line-height:33px;letter-spacing:normal;text-shadow:none;}
.menu-device{background-color:rgb(0,0,0);display:none;}
.pos-52{position:relative;margin-left:270px;margin-top:48px;}
.pos-53{position:relative;margin-left:170px;margin-top:71px;}
.size-59{min-width:667px;width:667px;min-height:377px;}
.pos-54{position:relative;margin-left:0;margin-top:58px;}
.size-60{min-width:186px;width:186px;min-height:239px;height:239px;}
.img-11{position:absolute;left:0;width:185px;height:239px;top:0;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;box-shadow:7px 7px 4px rgba(0,0,0,0.4);border:0;}
.img-12{left:0;width:185px;height:239px;top:0;display:inline-block;}
.pos-55{position:relative;margin-left:-86px;margin-top:309px;}
.size-61{min-width:420px;width:420px;min-height:68px;height:68px;}
.img-13{position:absolute;left:0;width:420px;height:68px;top:0;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;box-shadow:6px 6px 4px rgba(0,0,0,0.4);border:0;}
.img-14{left:0;width:420px;height:68px;top:0;display:inline-block;}
.pos-56{position:relative;margin-left:230px;margin-top:-377px;}
.size-62{min-width:437px;width:437px;min-height:328px;height:328px;}
.img-15{position:absolute;left:0;width:437px;height:246px;top:41px;border:0;}
.img-16{left:0;width:437px;height:246px;top:41px;display:inline-block;}
.menu-device{background-color:rgb(0,0,0);display:none;}
.pos-57{position:relative;margin-left:270px;margin-top:82px;}
.pos-58{position:relative;margin-left:10px;margin-top:0;}
.size-63{min-width:940px;width:940px;min-height:398px;}
.size-64{min-width:446px;width:446px;min-height:398px;height:398px;}
.anchor{display:block;}
.img-17{position:absolute;left:0;width:446px;height:286px;top:56px;box-shadow:6px 7px 4px rgba(0,0,0,0.4);border:0;}
.img-18{left:0;width:446px;height:286px;top:56px;display:inline-block;}
.pos-59{position:relative;margin-left:24px;margin-top:59px;}
.size-65{min-width:470px;width:470px;min-height:159px;}
.size-66{min-width:470px;width:470px;min-height:101px;}
.size-67{min-width:200px;width:200px;min-height:58px;height:58px;}
.img-19{position:absolute;left:0;width:200px;height:50px;top:0;border:0;}
.img-20{left:0;width:200px;height:50px;top:0;display:inline-block;}
.menu-device{background-color:rgb(0,0,0);display:none;}
.pos-60{position:relative;margin-left:114px;margin-top:35px;}
.size-68{min-width:730px;width:730px;min-height:69px;}
.pos-61{position:relative;margin-left:113px;margin-top:8px;}
.size-69{min-width:731px;width:731px;min-height:549px;}
.pos-62{position:relative;margin-left:0;margin-top:246px;}
.pos-63{position:relative;margin-left:1px;margin-top:-304px;}
.size-70{min-width:730px;width:730px;min-height:549px;}
.font-23{font-family:Kameron;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(20,62,108);background-color:rgb(255,255,255);line-height:25px;letter-spacing:normal;text-shadow:none;}
.pos-64{position:relative;margin-left:208px;margin-top:29px;}
.size-71{min-width:473px;width:473px;min-height:355px;height:355px;}
.img-21{position:absolute;left:31px;width:411px;height:355px;top:0;border:0;}
.img-22{left:31px;width:411px;height:355px;top:0;display:inline-block;}
.menu-device{background-color:rgb(0,0,0);display:none;}
