---
layout: default
title: oviedo lab
categories:
 - home
---

<div class="row">
	<div class="col-lg-12">
		<object class="pull-left biglogo" data="/images/logo.svg" type="image/svg+xml"></object>
		<div class="bigtitle logobox">
			Oviedo lab
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-lg-12">
		<div class="smallhead">

      <h3>Research Summary</h3>
      <p>
        Animals rely on sounds for survival, and social/reproductive interactions. Our brain must perform the challenging tasks of rapidly recognizing, categorizing, and assigning communicative importance to sounds in a noisy environment. The instructions to these functions are found in the precise connections neurons make with one another. We study evolutionarily conserved mechanisms for decoding social calls in the Auditory Cortex of rodents. The organization of the cerebral cortex may appear stereotyped, but new tools that allow detailed investigation of neural circuits have revealed significant differences between cortical areas that perform different functions. These circuit specializations embedded in stereotyped modules are now believed to be the secret ingredients that enable cortical areas to perform specific tasks. Our goal is to reveal these unique circuit features in the Auditory Cortex and determine their behavioral significance.
      </p>

      <div class="embed-responsive embed-responsive-16by9">
        <video class="embed-responsive-item" src="/video/alston.mp4" preload="auto" poster="/images/video/alston.jpg" controls></video>
      </div>
		</div>
	</div>
</div>

<div class="bigspacer"></div>
<div class="bigspacer"></div>


<div class="row">
	<div class="col-lg-12">
		<div class="smallhead">

      <h3>Collaborators</h3>
      <ul>
        <li><a class="off" href="https://www.renier-lab.com/nicolarrenier">Nicolas Renier</a></li>
        <li><a class="off" href="https://catniplab.github.io">Il memming Park</a></li>
      </ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="head">
			<a class="off" href="/papers/">Recent papers</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	{% for paper in site.categories.papers limit:4 %}
	<div class="col-lg-3 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<i class="fa fa-file-text-o fa-fw"></i>
				<a class="off" href="{{ paper.url }}">
				{{ paper.title }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Posted
				{{ paper.date | date: "%-d %b %Y" }}
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endfor %}
</div>


<div class="row">
	<div class="col-lg-12">
		<div class="head">
			Misc
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 reduced-gutter">
		<div class="pad-left">
			<ul class="list-inline">
				{% for page in site.categories.misc %}
				<li class="footernav list-inline-item">
					<i class="fa fa-angle-right"></i> <a class="off" href="{{ page.url }}">{{ page.title }}</a>
				</li>
				{% endfor %}
				<li class="footernav list-inline-item">
          <!--<i class="fa fa-angle-right"></i> <a class="off" href="/talks/">Talks</a> -->
				</li>
				<li class="footernav list-inline-item">
					<i class="fa fa-angle-right"></i> <a class="off" href="https://www.ccny.cuny.edu/research/discovery">CUNY City College's Center for Discovery and Innovation</a>
				</li>
			</ul>
		</div>
		<div class="spacer"></div>
</div>
</div>
